@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .promo {
        &_title, &_subtitle, &_btns {
            margin-left: 0;
        }
    }

    .about {
        &_wrapper {
            grid-template: minmax(245px, auto) minmax(255px, auto) / 400px 520px;
            column-gap: 40px;
        }
        &_skills { 
            grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);
            column-gap: 20px;
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }

    .resume {
        &_wrapper {
            padding: 60px 0 0;
            column-gap: 110px;
        }
    }

    .skills {
        &_wrapper {
            grid-template: repeat(2,270px)/ repeat(auto-fit, 270px);
            justify-content: center;
            gap: 10px;
        }
    }

    .progress {
        &_wrapper {
            grid-template: repeat(2,minmax(70px,auto))/repeat(2,350px);
            justify-content: center;
        }
    }

    .portfolio {
        &_wrapper {
            grid-template: repeat(2, 280px) / repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: center;
            .vertical, .horizonal {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }

    .contacts {
        &_wrapper {
            padding: 0;
            column-gap: 30px; 
            grid-template-columns: 400px 530px;
        }

        &_form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .about {
        &_wrapper {
            grid-template: minmax(245px, auto) minmax(255px, auto) / 300px 380px;
        }

        &_skills {
            grid-template: repeat(3, auto) / 380px;
            grid-auto-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }

    .subtitle {
        font-size: 30px;
    }

    .resume {
        &_wrapper {
            grid-template-columns: repeat(2,350px);
            column-gap: 10px;
        }
    }

    .progress {
        &_wrapper {
            column-gap: 30px;
            grid-template: repeat(2, minmax(70px, auto)) / repeat(2, 300px);
        }
        &_item {
            &-line {
                width: 300px;
            }
        }
    }

    .price {
        &_wrapper {
            padding: 62px 0 0;
            grid-template-columns: repeat(2, 345px);
            ul {
                width: 340px;
            }
        }
    }

    .contacts {
        &_wrapper {
            grid-template-columns: 300px 400px;
        }

        &_form {
            grid-template: 45px 100px 45px / repeat(2, 190px);
            row-gap: 20px;
        }
        &_btn {
            padding: 8px 25px;
        }
        &_photo {
            img {
                display: block;
                width: 300px;
                height: 100%;
            }
        }
    }

}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .promo {
        background: url('../img/main/Background.jpeg') no-repeat 57%/cover;
        &_title {
            width: 300px;
            font-size: 30px;
            line-height: 39px;
        }
    }

    .about {
        padding-top: 40px;
        &_wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &_photo {
            grid-row: 1 / 2;
        }
        &_skills {
            grid-template: repeat(2, auto) / repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }

    .resume {
        padding-top: 40px;
        &_wrapper {
            padding: 40px 0 0;
            grid-template-columns: 1fr;
            row-gap: 20px;
        }
    }

    .skills {
        padding-top: 40px;
        &_wrapper {
            padding-top: 40px;
            grid-template: repeat(2,270px)/repeat(2,270px);
        }
    }

    .progress {
        padding-top: 40px;
        &_wrapper {
            column-gap: 30px;
            grid-template: repeat(2, minmax(70px, auto)) / repeat(2, 250px);
        }
        &_item {
            &-line {
                width: 250px;
            }
        }
    }

    .portfolio {
        padding-top: 40px;
        &_wrapper {
            grid-template: repeat(2, 280px) / repeat(2, 280px);
            margin-top: 40px;
        }
    }

    .price {
        padding-top: 40px;
        &_wrapper {
            padding: 40px 0 0;
            grid-template-columns: 370px;
            justify-content: center;
            grid-template-rows: repeat(2, minmax(200px, auto));
            grid-auto-rows: minmax(200px, auto);
        }
    }


    .contacts {
        padding: 40px 0;
        &_photo {
            display: none;
        }
        &_wrapper {
            grid-template-columns: 1fr;
        }
        &_form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .promo {
        background: url('../img/main/Background.jpeg') no-repeat 60%/cover;
        &_title {
            width: 293px;
            font-size: 26px;
            line-height: 39px;
        }
        &_btn {
            margin-right: 44px;
        }
        &_btns {margin-top: 30px;}
    }

    .hamburger {
        right: 20px;
    }

    .menu {
        &_block {
            width: 250px;
            padding-left: 20px;
        }
    }

    .subtitle {
        font-size: 24px;
    }

    .about {
        &_wrapper {
            grid-template: 400px auto auto / 1fr;
            column-gap: 20px;
        }
        &_skills {
            grid-template: repeat(2, auto) / 1fr;
            justify-content: center;
            &-item {
                grid-template-columns: 40px 1fr;
                column-gap: 20px;
            }
        }
    }

    .skills {
        &_wrapper {
            grid-template: repeat(2,270px)/ 270px;
        }
    }

    .progress {
        &_wrapper {
            grid-template: repeat(2,minmax(70px,auto)) / 300px;
        }
        &_item {
            &-line {
                width: 300px;
            }
        }
    }

    .portfolio {
        &_wrapper {
            grid-template: repeat(2, 280px) / 280px;
        }
    }

    .price {
        &_wrapper {
            grid-template-columns: 300px;
            ul {
                width: 295px;
            }
        }
    }


    .contacts {
        padding-bottom: 50px;
        &_form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
        }
        &_textarea {
            grid-column: unset;
            width: 100%;
        }
        &_triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            column-gap: unset;
            row-gap: 20px;
        }
        &_btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &_policy {
            width: 180px;
            margin: 0 auto;
            line-height: 18px;
        }
    }

}